@{
    // Layout = null;

    ViewBag.Title = "Customer Page";
}


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <h1>Gestione clienti</h1>
    <p class="lead">Operare sulla griglia.</p>
    
</div>

