@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<p>Data @DateTime.Now</p>
<p>Maggiore del 2016 @DateTime.IsLeapYear(2016)</p>
